<div class="content-grid">
  <% @cities.each do |city| %>
  <div class="content-block"><%= link_to city_path(city) do %>
    <div class="content-image"><%= image_tag city.picture.url (:medium) %></div>
    <div class="content-title"><%= city.name %></div>
  </div>
  <% end %>
  <% end %>
</div>