<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
   <div>
    <ul>
    <div id="e>rror_explanation">git push -u origin master</div>
      </ul>
    </div>
  <% end %>
<div class="form-fields"
  <p>Name: <%= f.text_field :name %></p>
  <p>Picture: <%= f.file_field :picture %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

